@charset "utf-8";

@import url("global.css");
@import url("popup.css");

/* reset */
fieldset,img{border:0}
body,table {letter-spacing: -0.025em;}
body,html,legend{height:100%;color:#000}
html{background:#fff;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,audio,blockquote,body,canvas,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,menu,nav,ol,p,pre,section,summary,td,textarea,th,time,ul,video{margin:0;padding:0}
body{background-color:#fff;font-size:12px;font-family:"맑은 고딕", Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif;line-height:14px;}
img{vertical-align:middle}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
table{border-spacing:0;border-collapse:collapse}
address,caption,cite,code,dfn,em,th,var{font-weight:400;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;line-height:1}
caption,hr,legend{width:0;height:0;font-size:1px;text-indent:-9999em;line-height:0;margin:0;padding:0;border:0;}
hr {display:none;}
a,a:active,a:focus,a:hover,a:link,a:visited{text-decoration:none}

/* common placeholder */
::-webkit-input-placeholder{color:#919191;font-size:13px;line-height:12px;font-family:"맑은 고딕",Dotum,"돋움";}
:-moz-placeholder{/* Firefox 18- */color:#919191;font-size:13px;font-family:"맑은 고딕",Dotum,"돋움";}
::-moz-placeholder{/* Firefox 19+ */color:#919191;font-size:13px;font-family:"맑은 고딕",Dotum,"돋움";}
:-ms-input-placeholder{color:#919191;font-size:13px;font-family:"맑은 고딕",Dotum,"돋움";}

/* default */
a {font-size: 12px;color: #666;text-decoration: none;}
a:hover, a:active, a:focus {color:#ef1c25 !important;text-decoration:underline !important;}
/*.textLink a {text-decoration:underline;color:#00a5b8}*/
.blind {display:block;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
.checkbox, .radio {width:13px;height:13px;margin-right:5px;vertical-align:top;}
input[type=text], input[type=password] {height: 30px;border: 1px solid #ccc;box-sizing: border-box;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; padding:0 7px;line-height: 28px;font-size: 13px; color: #666; border-radius:2px; vertical-align: middle;}
textarea {padding:7px;border: 1px solid #ccc;box-sizing: border-box;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
select {height: 30px;border: 1px solid #ccc;box-sizing: border-box;font-size: 14px;padding:0 0 0 9px;}
select:disabled, input[type=text]:disabled, input[type=password]:disabled {background: #ebebe4}
.clear {clear:both;}

/* skip navigation */
.cfmOllehSkipNavi {position:absolute;top:0;left:0;width:100%;height:1px;line-height:1px;z-index:2100;}
.cfmOllehSkipNavi a {position:absolute;top:-500px;height:1px;line-height:1px;}
.cfmOllehSkipNavi a span {display:inline-block;padding:12px 0 0 38px;background:url('../images/common/skip_ico.png') no-repeat 0 14px;font-weight:bold;font-size:14px;line-height:30px;color:#fff;}
.cfmOllehSkipNavi a:focus, .cfmOllehSkipNavi a:active, .cfmOllehSkipNavi a:hover {display:block;top:0;width:100%;height:53px;background:url('../images/common/skip_bg.png') repeat-x 0 0;text-decoration:none !important;text-align:center;}

/* Header Gnb  */
#cfmOllehWrap {min-width: 980px;color: #666;line-height: 1.4;background: url('../images/common/cfm_y15_olleh_gnb_bg.png') repeat-x 0 0;}
#cfmOllehGnb {width: 980px;position: relative;padding: 25px 0 0 0;margin: 0 auto;font-family: "Malgun Gothic", "Dotum", sans-serif;z-index: 2010;}
.loadingBar2 {position: fixed;left: 50%;top: 50%;z-index: 2100;margin: -80px 0 0 -122px;display: none;}
.cfmOllehY15logo {display: block;width: 119px;height: 31px;position: absolute;top: 47px;left: 0;text-indent: -99999em;background: url('../images/common/new15logo.png') no-repeat;}
.cfmOllehY15Util {position: absolute;top: 7px;left: 0;}
.cfmOllehY15Util li {float: left;height: 12px;margin: 0 11px 0 0;padding: 0 10px 0 0;background: url('../images/common/cfm_olleh_y15_util_line.png') no-repeat right 1px;}
.cfmOllehY15Util li.last {margin: 0;padding: 0;background: none;}
.cfmOllehY15Util li a {display: block;height: 12px;overflow: hidden;}
.cfmOllehY15Util li a:hover img, .cfmOllehY15Util li a:focus img, .cfmOllehY15Util li a.on img {margin: -12px 0 0 0;}
.cfmOllehY15UtilAr {position: absolute;top: 5px;right: 0;}
.cfmOllehY15UtilAr li {float: left;line-height: 14px;padding: 0 9px 0 0;margin: 0 9px 0 0;background: url('../images/common/cfm_olleh_y15_util_line.png') no-repeat right 3px;}
.cfmOllehY15UtilAr li.last {margin: 0;padding: 0;background: none;font-weight: bold}
.cfmOllehY15UtilAr li a {font-size: 12px;color: #8c8c8c;letter-spacing: -1px;}
.cfmOllehY15UtilAr li a:hover {color: #ed1c24;text-decoration: underline;}
.cfmOllehGnb-menu {margin: 0 293px 0 157px}
.cfmOllehGnb-menu:after {content: ".";display: block;height: 0;overflow: hidden;clear: both;}
.cfmOllehGnb-menu-item {float: left;}

.cfmOllehGnb-menu-item.phone .cfmOllehGnb-submenu-item {height: 117px;}
.cfmOllehGnb-menu-item.phone .cfmOllehGnb-submenu-item.next-item {height: auto;}

.cfmOllehGnb-menu-item.internetData .cfmOllehGnb-submenu-item {height: 79px;}
.cfmOllehGnb-menu-item.internetData .cfmOllehGnb-submenu-item.next-item {height: auto;}

.cfmOllehGnb-menu-item.bizSolution .cfmOllehGnb-submenu-item {height: 186px;}
.cfmOllehGnb-menu-item.bizSolution .cfmOllehGnb-submenu-item.next-item {height: auto;}

.cfmOllehGnb-menu-item.consulting .cfmOllehGnb-submenu-item {height: 76px;}

.cfmOllehGnb-menu-item .link {display: block;position: relative;height: 76px;text-indent: -99999em;background: url('../images/common/cfm_olleh_gnb_spr.png') no-repeat;z-index: 2020;}
.cfmOllehGnb-menu-item .link.myPage {width: 83px;background-position: 0 0;}
.cfmOllehGnb-menu-item .link.myPage.on {background-position: 0 -76px;}
.cfmOllehGnb-menu-item .link.myPage:hover, .cfmOllehGnb-menu-item .link.myPage.over {background-position: 0 -152px;}

.cfmOllehGnb-menu-item .link.phone {width: 47px;background-position:-83px 0;}
.cfmOllehGnb-menu-item .link.phone.on {background-position: -83px -76px;}
.cfmOllehGnb-menu-item .link.phone:hover, .cfmOllehGnb-menu-item .link.phone.over {background-position: -83px -152px;}
.cfmOllehGnb-menu-item .link.phone .cfmOllehGnb-submenu-item {height: 142px;}

.cfmOllehGnb-menu-item .link.internetData {width: 109px;background-position: -130px 0;}
.cfmOllehGnb-menu-item .link.internetData.on {background-position: -130px -76px;}
.cfmOllehGnb-menu-item .link.internetData:hover, .cfmOllehGnb-menu-item .link.internetData.over {background-position: -130px -152px;}

.cfmOllehGnb-menu-item .link.mobile {width: 61px;background-position: -239px 0;}
.cfmOllehGnb-menu-item .link.mobile.on {background-position: -239px -76px;}
.cfmOllehGnb-menu-item .link.mobile:hover, .cfmOllehGnb-menu-item .link.mobile.over {background-position: -239px -152px;}

.cfmOllehGnb-menu-item .link.iot {width: 38px;background-position: -300px 0;}
.cfmOllehGnb-menu-item .link.iot.on {background-position: -300px -76px;}
.cfmOllehGnb-menu-item .link.iot:hover, .cfmOllehGnb-menu-item .link.iot.over {background-position: -300px -152px;}

.cfmOllehGnb-menu-item .link.bizSolution {width: 90px;background-position: -338px 0;}
.cfmOllehGnb-menu-item .link.bizSolution.on {background-position: -338px -76px;}
.cfmOllehGnb-menu-item .link.bizSolution:hover, .cfmOllehGnb-menu-item .link.bizSolution.over {background-position: -338px -152px;}

.cfmOllehGnb-menu-item .link.consulting {width: 90px;background-position: -428px 0;}
.cfmOllehGnb-menu-item .link.consulting.on {background-position: -428px -76px;}
.cfmOllehGnb-menu-item .link.consulting:hover, .cfmOllehGnb-menu-item .link.consulting.over {background-position: -428px -152px;}

.cfmOllehGnb-submenu {display: none;width: 678px;position: absolute;top: 100px;left: 0;padding: 35px 0 12px 300px;font-size: 12px;line-height: 18px;border: 1px solid #ed1c24;background: #fff;z-index: 2010;}
.cfmOllehGnb-submenu.on {display: block;}
.cfmOllehGnb-submenu-title {width:250px;position: absolute;top: 33px;left: 40px;}
.cfmOllehGnb-submenu-title strong {font-size: 25px;font-weight: bold;color: #525252;line-height: 32px;letter-spacing: -2px;margin-bottom: 15px;display: block;}
.cfmOllehGnb-submenu-title span {font-size:13px;line-height: 18px;color:#787878;display: block;}
.cfmOllehGnb-submenu-item {width: 169px;float: left;padding: 0 0 25px 0;line-height: 16px;}
.cfmOllehGnb-submenu-item.last {position: absolute;top:118px;left:468px;}
.cfmOllehGnb-submenu-item .group-heading {font-size: 14px;color: #ed1c24;line-height: 18px;}
.cfmOllehGnb-submenu-item .group-heading:hover {text-decoration: underline;}
.cfmOllehGnb-submenu-item .group-list {padding: 4px 0 0 0;}
.cfmOllehGnb-submenu-item .group-item {margin: 7px 0 0 0; line-height: 12px;}
.cfmOllehGnb-submenu-item .group-link {color: #787878;line-height: 12px;}
.cfmOllehGnb-submenu-item .group-link:hover {color: #ed1c24;text-decoration: underline;}
.cfmOllehMainCommonSearch {position: absolute;top: 45px;right: 100px;width: 184px;height: 30px;padding: 6px 0 0 10px;background: url('../images/common/cfm_olleh_search_bg.gif') no-repeat 0 0;}
.cfmOllehMainCommonSearch input.text {width: 143px;height:24px;padding:5px 0;border: 0;font-family: 'Malgun Gothic', dotum, sans-serif;font-size: 13px;color: #7c7f83; line-height: 13px;}
.cfmOllehMainCommonSearch input.cfmSearchButtonSearch {position: absolute;top: 0;right: 0;padding: 10px;}
.cfmOllehButtonTotal {display: block;width: 89px;height: 56px;position: absolute;right: 0;top: 45px;text-indent: -99999em;background: url('../images/common/cfm_button_total_menu.png') no-repeat;}
.cfmOllehButtonTotal.on {background-position: 0 -56px;}
.cfmOllehTotalSection {display: none;position: absolute;top: 100px;left: 0;width: 980px;padding: 5px 0 0 0;background: url('../images/common/cfm_total_top_bg.png') no-repeat 0 0;z-index: 2010;}
.cfmOllehTotalSection.on {display: block;}
.cfmOllehTotalSection .cfmOllehTotalSectionMiddle {padding: 0 0 5px 0;background: url('../images/common/cfm_total_bottom_bg.png') no-repeat 0 100%;}
.cfmOllehTotalSection .cfmOllehTotalSectionCont {padding: 25px 40px 16px 40px;background: url('../images/common/cfm_total_repeat_bg.png') repeat-y 0 0;}
.cfmOllehTotalSection .cfmOllehTotalSectionCont-group {margin: 0 0 30px 0;}
.cfmOllehTotalSection .cfmOllehTotalSectionCont-group.sectionCont-left {width:420px;float:left;}
.cfmOllehTotalSection .cfmOllehTotalSectionCont-group.sectionCont-right {width:450px;float:right;}
.cfmOllehTotalSection .cfmOllehTotalTitle {padding: 0 0 13px 0;border-bottom: 1px solid #d6d6d6;color: #ed1c24;font-size: 16px;font-weight: bold;line-height: 18px;}
.cfmOllehTotalSection .cfmOllehTotalMenuList {width: 100%;margin: 10px 0 0 0;padding: 0 0 8px 0;overflow: hidden;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li {float: left;width: 150px;line-height: 16px;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li.w120 {width:120px;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li h4 {padding: 0 !important;margin-bottom:2px;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li h4 a {font-size: 14px;color: #454545;font-weight: bold;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li h4 a:hover, .cfmOllehTotalSection .cfmOllehTotalMenuList li h4 a:focus {color: #ed1c24;text-decoration: underline;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li ul {padding: 6px 0 0 0;overflow: hidden;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li ul li {margin: 4px 0 0 0;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li ul li a {font-size: 12px;color: #666;}
.cfmOllehTotalSection .cfmOllehTotalMenuList li ul li a:hover, .cfmOllehTotalSection .cfmOllehTotalMenuList li ul li a:focus {color: #ed1c24;text-decoration: underline;}


/* lnb */



/* 기존LNB 유지 */
#cfmOllehLnb {float:left;width:180px;margin-right:30px;}
.cfmOllehLnbTit {height:60px; padding:14px 0 0 17px; background-color:#f5f5f5; }

div#cfmOllehLnb .cfmOllehLnbTitle {padding:0 0 12px 16px;border-bottom:2px solid #7d7d7d;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;color:#222;font-size:20px;line-height:28px;font-weight:bold;word-break:normal;}
div#cfmOllehLnb ul.cfmOllehLnbNewList {padding:0 0 16px 0;border-bottom:1px solid #7d7d7d;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li {font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;font-size:16px;line-height:18px;font-weight:bold;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li a {display:block;padding:15px 30px 0 17px;background:url('../images/common/cfm_olleh_lnb_1depth_plus.png') no-repeat 156px 24px;color:#222;font-size:14px;line-height:18px;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;font-weight:bold;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li.cfmOllehNewSelected a {background:url('../images/common/cfm_olleh_lnb_1depth_minus.png') no-repeat 156px 26px;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li.cfmOllehNewDontDepth a {background:none;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li.cfmOllehLnbtSelectedNoDepth a {color:#ef1d26 !important;font-weight:bold !important;background:none;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li a:hover,
div#cfmOllehLnb ul.cfmOllehLnbNewList li a:focus,
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li a:hover,
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li a:focus {color:#ed1c24;text-decoration:underline;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont {margin:18px 0 0 0;padding: 0 0 15px 0;background:#fff;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li {font-size:14px;line-height:16px;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li a {padding:13px 30px 0 27px;background:url('../images/common/cfm_olleh_lnb_1depth_plus.png') no-repeat 156px 21px;color:#575757;font-weight:normal;font-size:13px;line-height:16px;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li.cfmOllehLnbNewListContSelected a {background:url('../images/common/cfm_olleh_lnb_1depth_minus.png') no-repeat 156px 24px;font-weight:bold;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li.cfmOllehLnbNewListNonDepthSelected a {background:none;color:#ed1c24;font-weight:bold;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li.cfmOllehLnbNewNoDepth a {padding-top:13px;background:none;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul {padding:2px 0 2px 0;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li {margin:8px 0 0 0;font-size:12px;line-height:14px;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li a {font-size:12px;line-height:14px;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li.cfmOllehLnbNewListContSelected  ul li a {padding:0 30px 0 31px;background:none;color:#9d9d9d;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li.cfmOllehLnbNewListContSelected  ul li a {font-weight:normal;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li.cfmOllehLnbLastSelected a,
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li a:hover,
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li a:focus {color:#ef1d26;text-decoration:underline;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li ul.cfmOllehLnbNewListCont li ul li a {font-weight:normal;}
div#cfmOllehLnb ul.cfmOllehLnbNewList li.cfmOllehNewSelected ul.cfmOllehLnbNewListCont {display:block;}

/* 개편 LNB개인화영역 */
div#cfmOllehLnb div.cfmOllehSrvLnb {padding:24px 0 25px 18px;border-bottom:1px solid #898989;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}




/* contents Body */
#cfmOllehContainer {width: 980px;margin: 32px auto 70px;}
#cfmOllehContainer:after {content: ".";display: block;height: 0;overflow: hidden;clear: both;}
.cfmOllehcontsLnbOn {float: right;width: 770px !important;height: auto;margin: 0;}
.cfmOllehContsHeader {height: 40px;border-bottom: 1px solid #eee;}
.cfmOllehContsTit {float:left; padding:7px 0 0 0;}
.cfmOllehContsLocation {max-width: 530px;padding: 11px 10px 0 0;float: right;font-family: "Malgun Gothic", "Dotum", sans-serif;font-size: 11px;line-height: 14px;text-indent: -20px;}
.cfmOllehContsLocation a {margin: 0 1px;padding: 0;background: none;color: #545454;font-weight: normal;font-size: 11px;}
.cfmOllehContsLocation a:hover {color: #ed1c24;text-decoration: underline;}
.cfmOllehContsLocation .home:hover {text-decoration: none;}
.cfmOllehContsLocation .home img {display: inline-block;vertical-align: top; font-size: 0;line-height: 0;margin-top: 2px;}
.cfmOllehContsMain {min-height: 500px; font-size: 12px;padding-top:30px;position: relative;}



/* footer */
#cfmOllehFooter {padding-bottom:20px;overflow:hidden;clear:both;z-index:1050;background:#fff;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}
div.cfmfooterOllehMain {position:relative;width:100%;padding:9px 0 0 0;border-top:1px solid #e9e9e9;background:url('../images/common/footer_logo.png') no-repeat 100% 42px;}

div.cfmfooterOllehMain a.company {position:absolute;top:33px;.top:35px;left:521px;}
div.cfmfooterOllehMain ul.info {overflow:hidden;}
div.cfmfooterOllehMain ul.info li {float:left;margin:0 1px 0 0;padding:2px 12px 0 0;word-wrap:normal;line-height:16px !important;}
div.cfmfooterOllehMain ul.info li.button {font-size:0;line-height:6px !important;padding-top:0;}
div.cfmfooterOllehMain ul.info li.last {margin:0;padding-right:0;background:none;}
div.cfmfooterOllehMain ul.info li a,
div.cfmfooterOllehMain ul.info li a strong {font-size:11px;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}
div.cfmfooterOllehMain ul.info li a.first {margin:0 10px 0 0;}
div.cfmfooterOllehMain ul.info li a:hover,
div.cfmfooterOllehMain ul.info li a:hover strong {color:#ef1c25 !important;}
div.cfmfooterOllehMain ul.ollehMainListinfo {overflow: hidden;padding:3px 0 0 0;width: 100%;}
div.cfmfooterOllehMain ul.ollehMainListinfo li {color: #777;float: left;font-size: 11px;line-height: 16px !important;margin: 0 16px 1px 0;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}
div.cfmfooterOllehMain ul.ollehMainListinfo li *,
div.cfmfooterOllehMain ul.ollehMainListinfo li a strong {font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;font-size:11px;}
div.cfmfooterOllehMain ul.ollehMainListinfo li.down {float: none;}
div.cfmfooterOllehMain ul.ollehMainListinfo li.upAddress address {font-style: normal;font-weight: normal;font-size:11px;}
div.cfmfooterOllehMain p.copy {color: #777;font-size: 11px;line-height: 14px;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}

#cfmOllehFooter {width:980px;margin:0 auto;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu {padding:15px 0 10px 16px;border-top:1px solid #e9e9e9;overflow:hidden;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li {float:left;width:137px;line-height:16px;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li a {color:#777;font-weight:bold;font-size:11px;font-family:'맑은고딕', Malgun Gothic, dotum, '돋움', arial, verdana, hevetica, geneva, sans-serif;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li a:hover,
#cfmOllehFooter ul.cfmOllehNewFooterMenu li a:focus {color:#ed1c24;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul {padding:0;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul.cfmOllehNewFooterMenuInt {padding:0;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul li {margin:4px 0 0 0;float:none;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul.cfmOllehNewFooterMenuInt li {}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul li a {font-weight:normal;font-size:11px;color:#888;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul.cfmOllehNewFooterMenuInt li a {font-weight:bold;color:#777;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul.cfmOllehNewFooterMenuInt li a:hover,
#cfmOllehFooter ul.cfmOllehNewFooterMenu li ul.cfmOllehNewFooterMenuInt li a:focus {color:#ed1c24;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li.theOutService ul {padding:0;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li.theOutService ul li {margin:8px 0 0 0;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li.theOutService ul li.first {margin:0;}
#cfmOllehFooter ul.cfmOllehNewFooterMenu li.theOutService ul li a {font-weight:bold;}

ul.cfmOllehMainKTsns {position:absolute;top:9px;right:1px;}
ul.cfmOllehMainKTsns li {float:left;margin:0 8px 0 0;font-size:0;line-height:0;}
ul.cfmOllehMainKTsns li a {display:block;height:22px;overflow:hidden;}
ul.cfmOllehMainKTsns li a:hover img,
ul.cfmOllehMainKTsns li a:focus img {margin:-22px 0 0 0;}
ul.cfmOllehMainKTsns li.last {margin:0;}