@charset "utf-8";

.pop_layerWrap {position: fixed;top:170px;left:50%;margin-left:-375px;z-index: 4010;}
.pop_wrap {min-width: 340px; max-width: 750px; max-height:600px;height: 100%; font-size:14px; line-height:1.3; box-sizing:border-box; color:#333; border:1px #333 solid; position: relative;overflow-y:auto; background:#fff;}
.pop_wrap .pop_header {padding: 22px 0 27px; text-align:center;background: #fff; border-bottom: 1px solid #ccc;background: #fff}
.pop_wrap .pop_header h1, .pop_wrap .pop_header h2, .pop_wrap .pop_header h3, .pop_wrap .pop_header h4, .pop_wrap .pop_header h5, .pop_wrap .pop_header h6 {font-size: 21px;font-weight: bold;color: #333;}
.pop_wrap .pop_conts {}
.pop_wrap .pop_conts .pop_contsContainer {position: relative; padding:30px 29px; background:#f0f0f0; border-bottom: 1px solid #ccc;}
.pop_wrap .pop_conts .pop_contsBtns {padding:20px 0; text-align:center;}
.pop_wrap .pop_conts .pop_subTitle {position:relative; margin-bottom:18px; padding-top:28px; font-size: 19px; line-height:23px; font-weight: normal; z-index:1;}

.pop_footer {width: 100%; min-width: 340px; max-width: 750px; height: 31px; position: absolute; bottom: -31px; left: 0; background: #555; }
.pop_footer .pop_footerInner {width: 100%; padding: 0;overflow: hidden; margin-top: 0; position: static; bottom: 0; line-height: 30px;}
.pop_footer .pop_footerInner .pop_check {float: left; padding: 0 0 0 27px}
.pop_footer .pop_footerInner .pop_close {width:69px;height:31px;position: absolute; top:0; right: 0; padding: 0; background: url('../images/btn/pop_btn_footClose.png') right center no-repeat;}
.pop_footerInner .pop_close a {padding:9px 34px 7px 5px; float: right; color:#fff;line-height: 100%; font-size: 15px;}
.pop_footerInner .pop_close a:hover, .pop_footerInner .pop_close a:focus, .pop_footerInner .pop_close a:active {color:#fff !important;}
.pop_wrap ul.bulletList li {padding: 0 0 0 10px; background: url('../images/icon/comm_icon_square_smallBullet.png') no-repeat 0 9px;}
.pop_wrap ul.bulletList li.mIcon {background: url('../images/icon/comm_icon_minus_smallBullet.gif') no-repeat 0 8px;}

.pop_mask {width:100%;height:100%;position: fixed;top:0;left:0;background: url('../images/bg/pop_bg_mask.png'); z-index: 4000;display: none}

.pop_wrap .pop_scnTitle {font-size:19px;font-weight:normal;line-height:23px;}
.pop_wrap .btnSty.icon_print {padding:0 9px 0 34px;height:28px;color:#fff!important;font-size:13px;line-height:25px;background:#df2428 url(../images/icon/comm_icon_print2.png) no-repeat 9px 50%; border:1px solid #c10004;}
.pop_wrap .btnSty.icon_print span {padding:0; background:none;}
.pop_wrap .btnSty.icon_print:focus {border:1px dotted #fff;}


/* 기본 박스 */
.pop_wrap .pop_comm_box {background: #fff;padding:15px 20px; border:1px solid #ccc;}
.pop_wrap .pop_comm_box:after {content:''; display:block; clear:both;}


/* 꼭 확인하세요 */
.pop_wrap .comm_noticeBox {margin:20px 30px;}

/* 이메일 명세서 도움말 */
.comm_tabs.pop_emailHelpTab li a {font-size:13px;}
.pop_wrap .pop_conts .pop_billPluginBox {margin:15px 0 0 0;border: 1px solid #ccc; background:#fff;}
						 .pop_billPluginBox .pop_billPluginBoxTitle {padding:10px;}
						 .pop_billPluginBox ul {padding:10px 10px 0 10px;}
						 .pop_billPluginBox ul li {padding-bottom: 10px;}

.pop_wrap .pop_conts .pop_billActiveGuide01 {width:100%; height:716px;position:relative;margin-top:15px;background: url('../images/pop/thumb/pop_thumb_emailHelpTab02_01.jpg') center bottom no-repeat;}
			.pop_conts .pop_billActiveGuide01 span, .pop_conts .pop_billActiveGuide01 span, .pop_conts .pop_billActiveGuide01 span, .pop_conts .pop_billActiveGuide01 span, .pop_conts .pop_billOutlook01 span, .pop_conts .pop_billOutlookEx01 span, .pop_conts .pop_billOutlookEx02 span {position: absolute;left:0;top: 0;}
.pop_wrap .pop_conts .pop_billActiveGuide02 {width:100%; height:677px;position:relative;margin-top:25px;background: url('../images/pop/thumb/pop_thumb_emailHelpTab02_02.jpg') center bottom no-repeat;}
.pop_wrap .pop_conts .pop_billActiveGuide03 {width:100%; height:335px;position:relative;margin-top:25px;background: url('../images/pop/thumb/pop_thumb_emailHelpTab02_03.jpg') center bottom no-repeat;}
.pop_wrap .pop_conts .pop_billActiveGuide04 {width:100%; height:372px;position:relative;margin-top:25px;background: url('../images/pop/thumb/pop_thumb_emailHelpTab02_04.jpg') center bottom no-repeat;}
.pop_wrap .pop_conts .pop_billOutlook01 {width:100%; height:624px;position:relative;background: url('../images/pop/thumb/pop_thumb_emailHelpTab03_01.jpg') center bottom no-repeat;}
.pop_wrap .pop_conts .pop_billOutlook01 b {font-weight: normal;}
.pop_wrap .pop_conts .pop_billOutlookEx01 {width:100%; height:308px;position:relative;background: url('../images/pop/thumb/pop_thumb_emailHelpTab04_01.jpg') center bottom no-repeat;}
.pop_wrap .pop_conts .pop_billOutlookEx02 {width:100%; height:464px;position:relative;margin-top:25px;background: url('../images/pop/thumb/pop_thumb_emailHelpTab04_02.jpg') center bottom no-repeat;}


/*  명세서 번호 선택 */
.pop_wrap .pop_billSrchWhiteBox {position:absolute; top:16px; right:29px; background: #fff;}
.pop_wrap .pop_billSrchWhiteBox fieldset {position: relative;padding-right:66px;}
.pop_wrap .pop_billSrchWhiteBox input {width:253px; height:36px; line-height:34px; font-size:14px;}
.pop_wrap .pop_billSrchWhiteBox a {position: absolute; top:0;right: 0;}
.pop_wrap .pop_billNumListBox {padding:12px 0 15px 0;border:1px solid #ccc; border-top:1px solid #333;background: #fff;overflow: hidden;}
.pop_wrap .pop_billNumListBox li {display:inline-block; width:25%;padding:11px 0; float: left; text-align: center;}
.pop_wrap .pop_billNumListBox a {color:#666;font-size: 15px;}

/*명세서 조회 팝업만 예외 케이스 */
.pop_wrap.commBillPop .pop_header {padding:22px 0 25px}
.pop_wrap.commBillPop .pop_header h4 {padding:0 0 0 30px; text-align: left;}



/* 지로 납부 */
.pop_wrap .pop_bill_addrList dt {float:left;margin-right: 10px;}
.pop_wrap .pop_bill_addrList dt,.pop_wrap .pop_bill_addrList dd {margin-bottom:8px;}

 /* 우편번호찾기 */
.pop_wrap .pop_comm_zipGrayBox {margin: 12px 0 19px 0;background: #f5f5f5;padding: 15px 22px 16px 22px;}

/* 가입상품 조회/관리 */
.pop_prod_wrap {font-size:14px; color:#555; line-height:1.4;}
.pop_prod_wrap .prodIntroWrap {position:relative; min-height: 100px; padding:0 0 0 134px;}
.pop_prod_wrap .prodtxtSyt1 {font-size:16px; color:#333; font-weight: bold; line-height:1.2;}
.pop_prod_wrap .prodtxtSyt2 {font-size:11px; color:#666;}
.pop_prod_wrap .prodtxtSyt3 {color:#555; line-height: 1.4;}
.pop_prod_wrap .prodtxtSyt3.mg4m {margin:-4px 0 0 0;}
.pop_prod_wrap .bulletList {margin:-9px 0 0 0;}

.pop_prod_wrap .pop_prod_agree {margin-top:30px; color:#666; font-size:12px;}
.pop_prod_wrap .btnWrap {margin-top:25px; text-align:center;}

.pop_prod_wrap .innerTable th,
.pop_prod_wrap .innerTable td {padding:15px 5px; font-size:12px; text-align:center; border-right:none;}
.pop_prod_wrap .innerTable td span.num {font-size:12px;}

.pop_prod_wrap .coprightWrap {margin:21px 0; text-align:center;}
.pop_prod_wrap .coprightWrap .txtDate {margin:10px 0 0 0;}
.pop_prod_wrap .coprightWrap .ktImg {margin:10px 0 0 0;}

.pop_prod_wrap .grayBoxWrap {padding:17px 20px; background: #f5f5f5;}
.pop_prod_wrap .grayBoxWrap .tLine{margin:22px 0 0 0; padding:20px 0 0 0; border-top: 1px solid #d7d7d7;}
.pop_prod_wrap .grayBoxWrap .tLine .bulletDg {background-position: 0 6px;}

.pop_prod_wrap .prodNotifyWrap li {padding:0;}
.pop_prod_wrap .prodNotifyWrap .mIcon {padding:0 0 0 15px; margin:0 0 0 15px; background-position: 0 10px;}

.pop_prod_wrap .numList li {position:relative; padding:0 0 0 20px;}
.pop_prod_wrap .numList li .num {position: absolute; top:0; left:0;}

.pop_prod_wrap .chkSpam .comm_checkbox {display:block;}

/* 신청/변경 */
.pop_wrap .pop_svc .subList li {background:url(../images/icon/comm_icon_minus_smallBullet.gif) no-repeat 0 9px;}

.pop_svc {font-size:14px; color:#555; line-height:1.4;}
.pop_svc .bulletIcon {background-position:0 8px;}
.pop_svc .btnWrap {margin:28px 0 0 0; text-align:center;}
.pop_svc .infoBox {margin-top:30px;}
.pop_svc .infoBox p {padding: 0 0 0 10px; color:#666; font-size:13px; line-height:1.6; background: url(../images/icon/comm_icon_square_smallBullet.png) no-repeat 0 10px;}
.pop_svc .infoBox p + p {margin:4px 0 0 0;}
/* tv 채널안내 */
.pop_svcTv,
.pop_svcTv .pop_header,
.pop_svcTv .pop_footer {max-width:840px;}
.pop_svc .pop_svcTvHeader {padding:15px 0 0 15px; height:130px; background:#fff url(../images/pop/img_visual_tv_channel_tv.jpg) no-repeat 100% 15px;}
.pop_svc .pop_svcTvIframe iframe {height:3350px; background:#fff;}
/* skylife 채널안내*/
.pop_svcSky,
.pop_svcSky .pop_header,
.pop_svcSky .pop_footer {max-width:840px;}
.pop_svc .pop_svcSkyHeader {padding:15px 0 0 15px; height:130px; background:#fff url(../images/pop/img_visual_tv_channel_skylife.jpg) no-repeat 100% 15px;}
.pop_svc .pop_svcSkyIframe iframe {height:2750px; background:#fff;}
/* 패키지부가서비스란? */
.pop_svc .pop_svcPkgPrice {box-sizing:border-box; padding:50px 0; width:100%; background:#fff url(../images/pop/pop_svc_pkg_bg.png) no-repeat 50% 50px; border:1px solid #ccc;}
.pop_svc .pop_svcPkgPrice h2, .pop_svc .pop_svcPkgPrice p {margin:0 auto; width:495px;}
/* my time plan */
.pop_svc .pop_svcMytime select {width:90%; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
/* 수신차단 번호 등록*/
.pop_svc .pop_svcBlockNum select {width:20%; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
.pop_svc .pop_svcBlockNum input[type=text] {width:70%; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
/* 인터넷 부가서비스 */
.prdCardList{display:block; width:105%; max-width:105%; height:auto; overflow:hidden;}
.prdCardList li{position:relative; display:block; width:234px; height:136px; float:left; border:1px solid #e0e0e0; background-color:#fff;margin: 0 12px 12px 0;}
.prdCardList a {position:relative; z-index:10; display:block;width:100%; height:100%;}
.prdCardList a span.ptitle{display:block; padding:28px 0 0 19px; font-size:15px; color:#222; letter-spacing:-1px; font-weight:bold;}
.prdCardList a span.pprice{position:absolute; top:80px; display:block; padding-left:19px; font-weight:400; color:#ed1c24; font-size:14px; letter-spacing:0; z-index:2;}
.prdCardList a span.pprice strong{font-weight:700;}
.prdCardList a span.pprice2 {position:absolute; z-index:3; top:101px; display:block; width:125px; height:30px; height:27px\9; overflow:hidden; padding-left:20px; font-weight:400; color:#000; font-size:11px; letter-spacing:0px;}
.prdCardList a span.pimg{position:absolute; z-index:1; right:22px; bottom:17px; display:block; width:75px; height:43px; text-align:right;}

.prdCardList a span.overBox{display:none; position:absolute; z-index:10; left:-1px; top:-1px; width:100%; height:100%; text-decoration:none; background:url(../images/pop/pop_svc_bg_pattern1.png) 0 0 repeat; border:1px solid #414141; }
.prdCardList a span.overBox span.potitle { display:block; padding:17px 0 0 19px;font-size:14px; color:#ffffff; letter-spacing:-1px; font-weight:bold;}
.prdCardList a span.overBox span.poprice{ position:absolute; display:block; top:80px; width:200px; height:35px; overflow:hidden; padding-left:19px; font-size:14px; color:#fff;}
.prdCardList a span.overBox span.potxt{ position:absolute; top:38px; height:35px; overflow:hidden; display:block; padding-left:19px; font-size:12px; color:#c5c5c5; line-height:17px; letter-spacing:-1px; padding-right:20px; word-break: keep-all;}
.prdCardList a span.overBox span.poprice2 {position:absolute; top:101px; display:block; padding-left:20px; padding-right:20px; height:30px; height:27px\9; overflow:hidden; font-weight:400; color:#c5c5c5; font-size:11px; letter-spacing:0px;}
.prdCardList a span .overBox span.poprice strong{font-weight:700;}
.prdCardList li:focus a span.overBox,
.prdCardList li:hover a span.overBox,
.prdCardList li a:focus span.overBox,
.prdCardList li a:hover span.overBox{display:block;}

.pop_svcAddon,
.pop_svcAddon .pop_header,
.pop_svcAddon .pop_footer {max-width:805px;}
.pop_svcAddon .price .price-ori {color:#000; font-size:16px;}
.pop_svcAddon .price .price-ori span {color:#ef1c25; font-weight:bold;}
.pop_svcAddon .pop_section_title {margin:20px 0 7px; color:#333; font-weight:bold;}

.pop_svcAddonHeader {position:relative; padding:20px 0 20px 20px; height:260px; background:#fff;}
.pop_svcAddonHeader .price {position:absolute; top:50px; left:20px;}
.pop_svcAddonHeader .price .price-ori {font-size:24px;}
.pop_svcAddonHeader .price .price-ori span {font-size:26px;}
.pop_svcAddonHeader .benefit {position:absolute; top:100px; left:20px; width:420px; max-width:420px; margin-top:21px; overflow:hidden;}
.pop_svcAddonHeader .benefit ul {float:left; max-width:100%;border:solid 1px #e0e0e0; vertical-align:middle; overflow:hidden; padding:6px 10px 9px 0;}
.pop_svcAddonHeader .benefit ul li{float:left; min-height:26px; margin-left:13px; font-size:11px; line-height:13px; vertical-align:middle; }
.pop_svcAddonHeader .benefit ul li span {display:inline-block; margin-left:5px; min-width:80px; vertical-align:middle;}
.pop_svcAddonHeader .prdImg {float:right;margin-top:-60px;}

.pop_svcAddonRecom {padding-top:40px; height:172px; overflow:hidden; line-height:1;}
.pop_svcAddonRecom .title {font-weight:bold; color:#333;}

.pop_svcAddonRecom .recom_opt_banner1{ float:right;position:relative; width:236px; height:172px; display:block; overflow:hidden; }
.pop_svcAddonRecom .recom_opt_banner1 .list_scr{position:relative; display:block; width:236px; height:138px; overflow:hidden; margin-top:8px;}
.pop_svcAddonRecom .recom_opt_banner1 ul.list {position:absolute; display:block; height:auto; }
.pop_svcAddonRecom .recom_opt_banner1 ul.prdCardList{display:block; height:138px; overflow:hidden; width:3999px; max-width:none; }
.pop_svcAddonRecom .recom_opt_banner1 ul.prdCardList li {margin-right:10px; width:234px;}
.pop_svcAddonRecom .recom_prd_banner2{ float:left;position:relative; width:482px; height:172px; display:block; overflow:hidden; }
.pop_svcAddonRecom .recom_prd_banner2 .list_scr{position:relative; z-index:1; display:block; width:auto; height:138px; overflow:hidden; margin-top:8px;}
.pop_svcAddonRecom .recom_prd_banner2 .list {position:absolute;}
.pop_svcAddonRecom .recom_prd_banner2 ul.prdCardList{display:block; width:3999px !important; max-width:3999px; height:138px; overflow:hidden;}
.pop_svcAddonRecom .recom_prd_banner2 ul.prdCardList li {margin-right:10px;}
.pop_svcAddonRecom .in_prev, .pop_svcAddonRecom .in_next{display:block; position:absolute; top:0; width:17px; height:17px; border:0; text-indent:-9999px; font-size:0;}
.pop_svcAddonRecom .in_prev{right:16px; background:url(../images/pop/pop_btn_svc_prev.gif) center top no-repeat;}
.pop_svcAddonRecom .in_next{right:0px; background:url(../images/pop/pop_btn_svc_next.gif) center top no-repeat;}
.pop_svcAddonRecom .disable {opacity:.2; cursor:default; }















