@charset "utf-8";

.prodLink.blk {color:#000;}
.prodTxt1 {color:#555; font-size: 14px;}

.prodCategoryWrap {position:relative; height:130px; background:url('../images/common/prod_bg_category.gif') repeat-x left top; border: 1px solid #000;}
.prodCategoryWrap .viewWrap {position:absolute; top:0; left:0; overflow: hidden;}

.prodDetailWrap {border-bottom: 2px solid #ccc;}
.prodDetailWrap .comm_tableBrdr {border-top: 1px solid #ccc;}
.prodDetailWrap .innerWrap1 {overflow:hidden; padding:25px 20px 46px 20px; background:url('../images/common/prod_bg_dotline.gif') repeat-x left bottom;}
.prodDetailWrap .innerWrap1 .prodImg {float:left; display:inline-block; width: 225px; padding:0 15px 0 0;}
.prodDetailWrap .innerWrap1 .prodImg img {width: 225px; height:225px;}
.prodDetailWrap .innerWrap1 .prodName {display:block; padding:10px 0 0 0; font-size:16px; text-align: center; color:#000;}
.prodDetailWrap .innerWrap1 .prodInfo {float:left; display:inline-block; width: 490px;}
.prodDetailWrap .innerWrap1 .prodInfo .comm_tableBrdr {border-top: 1px solid #ccc;}
.prodDetailWrap .innerWrap1 .prodInfo .comm_tableBrdr th {background: #fff;}
.prodDetailWrap .innerWrap1 .prodInfo .comm_tableBrdr td {padding:15px 0 15px 20px}
.prodDetailWrap .innerWrap1 .prodInfo .txtWrap {margin:-5px 0 -1px 0; padding:0 130px 0 0;}
.prodDetailWrap .innerWrap2 {overflow:hidden; padding:0 0 50px 20px;}
.prodDetailWrap .innerWrap2 .inner {float:left; width: 354px; margin:0 20px 0 0;}
.prodDetailWrap .innerWrap2 .inner .txtWrap {padding:0 60px 0 0;}
.prodDetailWrap .innerWrap2 .inner .txtWrap .btn{right:23px;}
.prodDetailWrap .innerWrap2 .inner .comm_tableBrdr th {background: #fff;}
.prodDetailWrap .innerWrap2 .inner .comm_tableBrdr td {padding:15px 0 15px 20px}
.prodDetailWrap .txtWrap {position: relative;}
.prodDetailWrap .txtWrap .date {display: block; font-size: 12px;}
.prodDetailWrap .txtWrap .btnSty {position: absolute; top:50%; right:10px; margin-top:-10px}
.prodDetailWrap .txtWrap .btn.red {color:#ef1c25;}

.prodPhoneCareService {overflow: hidden;}
.prodPhoneCareService li {float:left; width:146px; margin:0 0 0 10px;}
.prodPhoneCareService li:first-child {margin:0;}
.prodPhoneCareService .phoneCareWrap {position:relative; display:block; height:160px; border: 1px solid #e0e0e0;}
.prodPhoneCareService .phoneCareWrap span {position:absolute; bottom:16px; left:0; width: 100%; display: block; text-align: center; line-height:1.58;}
.prodPhoneCareService .phoneCareWrap.ic1 {background:url('../images/common/prod_img_phonecare1.png') no-repeat center top;}
.prodPhoneCareService .phoneCareWrap.ic2 {background:url('../images/common/prod_img_phonecare1.png') no-repeat center top;}
.prodPhoneCareService .phoneCareWrap.ic3 {background:url('../images/common/prod_img_phonecare1.png') no-repeat center top;}
.prodPhoneCareService .phoneCareWrap.ic4 {background:url('../images/common/prod_img_phonecare1.png') no-repeat center top;}
.prodPhoneCareService .phoneCareWrap.ic5 {background:url('../images/common/prod_img_phonecare1.png') no-repeat center top;}

.prodInfoLinkList {margin-top:50px;}
.prodInfoLinkList .btnSty {margin:0; letter-spacing:-1px;}