@charset "utf-8";

/* 일시정지 */
.mobilePauseBottomDot {padding:0 0 13px 0;border-bottom:1px dashed #cbcbcb;}
.mobilePauseSetPwd {padding:10px 0 0 0;position: relative;}
.mobilePauseSetPwd .pwdInput {width:112px;}
.mobilePauseSetPwd .pwdLabel {width:104px;height:25px;position: absolute; top:10px;color: #666;font-size:12px;padding:5px 0 0 8px;}
.mobilePauseSetPwd .setPwdLabel {left:0px;}
.mobilePauseSetPwd .chkPwdLabel {left:117px;}
p.mobilePauseDesc {width:380px;margin:10px 0 0 0;padding-left:17px;color:#666;font-size:13px;background: url('../images/icon/svc_icon_warning.png') 0 7px no-repeat;}
.clientMemo {font-size: 13px;color:#666;}

p.mobilePauseHistoryDesc {margin-top:8px;padding:0 0 0 17px;background: url('../images/icon/svc_icon_warning_red.png') 0 2px no-repeat;line-height: 13px;}

.svcInfo_planList {background:#fff; border:1px solid #ddd; border-bottom:0;}

/* 번호변경 */
.svcInfo_chgNumStep {margin:20px 0 40px; text-align:center; font-size:0;}
.svcInfo_chgNumStep li {display:inline-block;}
.svcInfo_chgNumStep li > div {padding-top:80px; text-align:center; width:128px; font-size:21px; color:#333; text-transform:uppercase; line-height:1;}
.svcInfo_chgNumStep li span {display:block; margin-top:4px; font-size:13px; color:#666;line-height: 18px;}
.svcInfo_chgNumStep li span strong {display: block;text-align:center;}
.svcInfo_chgNumStep .step1, .svcInfo_chgNumStep .step2 {margin-right:45px; padding-right:79px; background:url(../images/icon/svcInfo_chg_num_step.png) no-repeat 100% 34px;}
.svcInfo_chgNumStep .step1 > div {background:url(../images/icon/svcInfo_chg_num01.png) no-repeat 50% 0;}
.svcInfo_chgNumStep .step2 > div {background:url(../images/icon/svcInfo_chg_num02.png) no-repeat 50% 0;}
.svcInfo_chgNumStep .step3 > div {background:url(../images/icon/svcInfo_chg_num03.png) no-repeat 50% 0;}
.svcInfo_tdMsg {position:relative; margin-left:-18px; padding:5px 18px; background:#f8f8f8;}
.svcInfo_tdMsg:after {content:''; position:absolute; top:0; right:-18px; bottom:0; width:18px; background:#f8f8f8;}
.svcInfo-numList {position:relative;}
.svcInfo-numListBox {overflow:hidden; border-bottom:1px dotted #eee;}
.svcInfo-numListBox li {float:left; margin-bottom:6px; width:105px;}
.svcInfo-numListBox label {color:#333; font-size:13px;}
.svcInfo-numListSelect {position: absolute; bottom: -2px; right: 0; z-index: 1;}

.comm_table .captcha {margin:20px 0 0 12px;}

/* 설치장소 */
.svcInfo_setPlaceVisual {max-height: 204px; padding:33px 177px 30px 30px; border:1px solid #ddd; background:#fff url('../images/bg/svcInfo_bg_setPlaceVisualThumb.png') 563px 40px  no-repeat;}
.svcInfo_svcChkDesc {overflow: hidden;margin-top: 20px}
.svcInfo_svcChkDesc dt, .svcInfo_svcChkDesc dd {float:left;font-size: 13px;color:#666; line-height: 22px;display: block}
.svcInfo_svcChkDesc dt {width:72px;padding-left:10px;}
.svcInfo_svcChkDesc dd {width: 380px;}
.svcInfo_postDataView {overflow: hidden;}
.svcInfo_postDataView dt, .svcInfo_postDataView dd {float: left;color:#000;margin-top:10px;font-size: 15px;line-height: 30px}
.svcInfo_postDataView dt {width: 97px;}
.svcInfo_postDataView dd {width: 380px;}
.svcInfo_setPlaceAdd dt, .svcInfo_setPlaceAdd dd {float:left; }
.svcInfo_setPlaceAdd dt {width:72px;}
.svcInfo_setPlaceAdd dd {width:460px;}

/* 요금제 신청 & 부가서비스 공통 */
.svcInfo_planTable table {border-left: 0; border-right: 0;}
.svcInfo_planTable table .comm_radio {vertical-align: middle;}
.svcInfo_planTable table td span {font-size: 15px; color: #666;}
.svcInfo_planTable table td.plan_radio {padding-left: 25px; color: #000;}
.svcInfo_planTable table td.plan_radio a {color: #000;}

/* 요금제 신청 */
.svcInfo_plan {border: solid #ccc; border-width:1px 0; background:#fff;}
.svcInfo_plan .cur {padding:16px 0 15px 29px; font-size:17px; color:#333; border-bottom: 1px solid #ddd;}
.svcInfo_plan .cur span {margin-left: 5px; color:#000;}
.svcInfo_plan .curDetail {padding: 29px 29px 28px; overflow:hidden;}
.svcInfo_plan .curDetailPlan {float: left; width:300px;}
.svcInfo_plan .curDetailPlan p {margin-top: 12px; font-size:27px;}
.svcInfo_plan .curDetailInfo {float:left; box-sizing:border-box; padding: 24px 0 0 27px; border-left:1px solid #eaeaea;}
.svcInfo_plan .curDetailInfo dt {font-size:15px; color:#666;}
.svcInfo_plan .curDetailInfo.sDate {width:140px;}
.svcInfo_plan .curDetailInfo.price {width:270px;}
.svcInfo_plan .curDetailInfo.price dd {font-size:15px; color:#666;}
.svcInfo_plan .curDetailInfo.price dd span {font-size:24px;}
.svcInfo_plan .curDetailInfo.sDate dd {margin-top: 5px; font-size:20px; color:#333;}
#tvChannelLayer .pop_footer {max-width:100%;}
#slChannelLayer .pop_footer {max-width:100%;}

/* 부가서비스 신청 */
.svcInfo_addSvcList {border: 1px solid #ccc; background: #fff;}
.svcInfo_addSvcList li {padding: 20px 0; overflow:hidden;}
.svcInfo_addSvcList li + li {border-top: 1px solid #ccc;}
.svcInfo_addSvcList .thumb {float: left; width: 140px; height:90px; line-height: 90px; text-align:center; border-right: 1px solid #eaeaea; font-size: 0;}
.svcInfo_addSvcList .thumb:after {content: ''; display: inline-block; height:90px; vertical-align: middle;}
.svcInfo_addSvcList .info {float: left; box-sizing:border-box; padding: 0 50px 0 28px; width: 387px; color:#333;}
.svcInfo_addSvcList .info .title {font-size: 18px; font-weight: 700; line-height: 1;}
.svcInfo_addSvcList .info .desc {margin-top: 8px; font-size: 15px; line-height: 1.4;}
.svcInfo_addSvcList .links {float:left; padding-top: 30px;}
.pop_layerWrap .pop_footer {max-width:100%;}


